// breakpoints
$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

// colors
$color-dark-blue-element: #2b3945;
$color-dark-blue-background: #202c37;
$color-light-blue-text: #111517;
$color-light-grey-input: #858585;
$color-light-grey-background: #fafafa;
$color-white-text-element: #ffffff;