@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.countries-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  gap: 3.6rem;


  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 0 5%;
  }
}