@use './styles/partials/variables' as *;
@use './styles/partials/fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --element: $color-white-text-element;
  --text: $color-light-blue-text;
  --input: $color-light-grey-input;
  --background: $color-light-grey-background;
}

[data-theme='dark'] {
  --element: $color-dark-blue-element;
  --text: $color-white-text-element;
  --input: $color-white-text-element;
  --background: $color-dark-blue-background;
}