@use './styles/partials/variables' as *;
@use './styles/partials/fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --element: #ffffff;
  --text: #111517;
  --input: #858585;
  --background: #fafafa;
  --shadow: 0 0 4px rgb(170, 170, 170);
}

[data-theme='dark'] {
  --element: #2b3945;
  --text: #ffffff;
  --input: #ffffff;
  --background: #202c37;
  --shadow: none;
}